@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}
.bg-color {
  background-color: #c9dcee;
}

.btn-rounded {
  border-radius: 30px;
  width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.footer {
  width: 100%;
  text-align: center;
  background-color: #f9fbfd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form {
  max-width: 100%;
}

input,
select,
textarea {
  width: 100%;
}
button {
  padding: 10px 20px;
  font-size: 1.2rem;
}
